<div class="artist-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="artist-card-infos">
      <p style=" font-size: 16px; font-weight: bold; ">artist name</p>
      <p style="margin-bottom: 8px;">category</p>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-large" />
  </div>
</div>

