<div class="product-card">
  <img src="https://images.unsplash.com/photo-1544098281-073ae35c98b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
  <div class="product-card-infos">
      <p style=" font-size: 16px; ">title</p>
      <p style=" font-size: 16px; font-weight: bold; ">200$</p>
  </div>
</div>
