<div class="review-card">
  <div class="review-top">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
  </div>
  <p class="review-content">Carolina did a great job! She photographed our SS2020campaign, we are super happy with the results
    I’m writing some other stuff here so I have more to say</p>
  <p class="review-user">JohnDoe</p>
</div>
