.main-button {
  background: linear-gradient(90deg, #2AEA19 -42.46%, #18ABDA 117.86%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  font-family: "Montserrat";
  padding: 5px 20px;
  font-weight: bold;
}

.main-link {
  background: -webkit-linear-gradient(-87deg, #2AEA19 , #18ABDA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 5px;
  font-size: 24px;
}

.main-link:hover {

  background: -webkit-linear-gradient(107.84deg, #EA1919 -43.73%, #EF70D1 111.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-button {
  width: 400px;
  margin-bottom: 20px;
}

