.form-page {
  background: linear-gradient(94.6deg, #F9EEE8 2.89%, #E8C2DF 96.98%);
  margin: 0px;
  padding: 20px 150px 60px 150px;
  height: 80vh;
}

.form-container {
  padding: 40px;
  margin: 60px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 20px;
  }
}

