.navbar-arti {
  justify-content: space-between;
  background: linear-gradient(94.6deg, #F9EEE8 2.89%, #E8C2DF 96.98%);
  padding: 0px 30px;
}

.navbar-arti .navbar-collapse {
  flex-grow: 0;
  align-items: center;
}

.navbar-arti .navbar-brand img {
  width: 40px;
}
