.navbar-arti {
  justify-content: space-between;
  background: linear-gradient(94.6deg, #F9EEE8 2.89%, #E8C2DF 96.98%);
  padding: 0px 30px;
}

.navbar-arti .navbar-collapse {
  flex-grow: 0;
  align-items: center;
}

.navbar-arti .navbar-brand img {
  width: 40px;
}

.dropdown-toggle::after {
  display: none;
}

.menu-login {
  border-radius: 10px;
  text-align: right;
  border: none;
  background: linear-gradient(90deg, #2AEA19 -42.46%, #18ABDA 117.86%);
  a {
    color: white;
  }
}

.menu-login > a:hover {
  color: white;
  font-weight: bold;
  background-color: transparent;
}
