.product-card {
  // overflow: hidden;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-card > img {
  height: 90%;
  width: 100%;
  padding: 20px 20px 10px 20px;
  object-fit: cover;
}

.product-card .product-card-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px 20px;
}

.product-card p {
 color: $preto;
  font-size: 12px;
  margin: 0;
}

.product-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transform: translateY(-10px)
}
